* {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #202124;
}

.calculator-container {
    display: flex;
    justify-content: center;
}

.flexbox-item {
    background: #303134;
    margin-top: 5vh;
    width: 425px;
    height: 550px;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

#display {
    border-radius: 5px;
    width: 370px;
    height: 150px;
    margin: 50px auto auto;
    text-align: center;
    background: whitesmoke;
    display: flex;
    align-items: flex-end;
    flex-direction: column;

}

#workings, #calculations {
    font-size: 24px;
    margin-right: 20px;
    padding: 8px;
}

.grid-container-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.grid-container {
    margin-top: 25px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-gap: 25px;
}

button {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.numbers, .functions {
    text-align: center;
    border-radius: 5px;
    background: whitesmoke;
    width: 55px;
    height: 40px;
    padding: 10px;
    box-shadow: 0 2px grey, 0 5px rgba(0, 0, 0, 0.4);
}

.numbers:hover, .functions:hover {
    box-shadow: 0 1px 1px 0 grey,0 1px 2px 1px whitesmoke;
}

.none {
    background: rgba(245, 245, 245, 0.68);
}
#delete {
    background: #1a73e8
}

#clear {
    background: #1a73e8
}

.numbers:active, .functions:active {
    box-shadow: 0 1px 1px 0 rgba(255, 52, 52, 0.54);,0 1px 2px 1px rgba(255, 52, 52, 0.54);;
}



footer {
    position: fixed;
    bottom: 0;
    height: 65px;
    width: 100%;
    background: #303134;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-text {
    margin-left: 15px;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

